.filterBarContainer {
  font-family: var(--main-font-font-family);
  display: flex;
  gap: 130px;
  margin-bottom: 3%;
}

.filterBarContainer h3 {
  margin-right: 5px;
  color: var(--text-headers-color);
}

.filterCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterPrice {
  display: flex;
  gap: 10px;
}

.priceInputs {
  margin-top: 5px;
  display: flex;
  gap: 20px;
}

.priceInputs input {
  width: 60px;
  height: 30px;
  font-size: 16px;
  font-family: var(--main-font-font-family);
  outline-color: var(--text-primary-color-color);
}

.filterLowHighPrice {
  margin: 10px 0px;
  display: flex;
  gap: 10px;
}
.resetBtn {
  border: none;
  background-color: transparent;
  font-family: var(--main-font-font-family);
  color: var(--text-primary-color-color);
  margin: 10px 0 10px;
  transition: border-bottom 1s ease;
  cursor: pointer;
}

.resetBtn:hover {
  border-bottom: 1px solid var(--text-primary-color-color);
}
