.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
}
svg path,
svg rect{
  fill: var(--text-paragraph-color-toggle-background-color);
}