.customInput {
    width: 100%;
    border: none;    
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;

    background: #f2f2f2;
    padding: 10px;
 
    font-size: clamp(10px, 1.5vw, 18px);
    text-overflow: ellipsis;
} 

.customInput::placeholder {
    color: rgba(128, 128, 128, 0.6);    
}

.customInput:focus {
    border: 1px solid var(--text-gray-color);
    background: #91d3fe32;
    color: orange;
    padding: 9px;
}

