.radioBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.radioBtn p {
  font-family: var(--main-font-font-family);
  color: var(--text-secondary-color-color);
}

.radioBtn > input[type="radio"] {
  accent-color: var(--text-primary-color-color);
  margin-bottom: 5px;
}

.label {
  color: var(--text-primary-color-color);
  font-size: clamp(10px, 1.5vw, 18px);
  margin-bottom: 5px;
}
