.helpGameButton {
  position: relative;
  cursor: pointer;
}
.helpGameButton:active {
  scale: 0.8;
}

.textRules {
  display: none;
}
.helpGameButton:hover .textRules {
  display: block;
  position: absolute;
  margin-left: 30px;
  margin-top: -60px;

  width: 250px;
  padding: 6px;
  border-radius: 8px;
  font-size: 13px;
  background: rgba(176, 208, 255, 0.979);
}
.textRules span {
  /* position: relative; */
  color: yellow;
}

